<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7994597077208765"
        crossorigin="anonymous"></script>
<!-- Footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7994597077208765"
     data-ad-slot="1486531742"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- start custom footer snippets -->
<script data-ad-client="ca-pub-7994597077208765" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- end customooter snippets -->